In [1]:
import pandas as pd

In [15]:
df = pd.read_csv(r"C:\Users\hp\Desktop\Datasets\Dataset Samples\flavors_of_cocoa.csv")

In [16]:
df.head(5)

,Id,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
0,1,A. Morin,Agua Grande,2016.0,63%,France,3.75
1,2,A. Morin,Kpime,2015.0,70%,France,2.75
2,3,A. Morin,Atsane,2015.0,70%,France,3.00
3,4,A. Morin,Akata,2015.0,70%,France,3.50
4,5,A. Morin,Quilla,2015.0,70%,France,3.50

In [19]:
df.sample(4)

,Id,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
505,506,Danta,Las Acacias E.,2009.0,75%,Guatemala,3.0
1295,1296,Pinellas,Wampusirpi Region,2016.0,80%,U.S.A.,2.5
466,467,Cravve,New Ireland,2014.0,70%,Australia,2.5
673,674,French Broad,"Palo Blanco, Chulucanas",2013.0,66%,U.S.A.,3.5

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1795 non-null   int64
 1   Company           1795 non-null   object
 2   Bean Origin       1795 non-null   object
 3   Review Date       1791 non-null   float64
 4   Cocoa Percent     1795 non-null   object
 5   Company Location  1795 non-null   object
 6   Rating            1795 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 98.3+ KB

In [17]:
df.isnull().sum()

Id                  0
Company             0
Bean Origin         0
Review Date         4
Cocoa Percent       0
Company Location    0
Rating              0
dtype: int64

In [20]:
country = df.groupby('Company Location')

In [36]:
country.count().sort_values('Company',ascending=False)['Company'].head(3)

Company Location
U.S.A.    764
France    156
Canada    125
Name: Company, dtype: int64

In [37]:
df['Rating'].max()

5.0

In [38]:
import numpy as np
type(np.nan)

float